html {
  background-color: #252830;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: normal;
}

.material-icons {
  font-size: 30px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 250px;
  grid-template-rows: 60px 100px 600px 100px 600px 100px 600px 100px 475px 100px 600px 100px 350px 50px;
  grid-template-areas: "navBar navBar navBar navBar sideBar"
                       "welcomeMessage welcomeMessage welcomeMessage welcomeMessage sideBar"
                       "mainInfo mainChart mainChart mainChart sideBar"
                       "messageOne messageOne messageOne messageOne sideBar"
                       "areaOne areaOne areaOne areaOne sideBar"
                       "messageTwo messageTwo messageTwo messageTwo sideBar"
                       "areaTwo areaTwo areaTwo areaTwo sideBar"
                       "messageThree messageThree messageThree messageThree sideBar"
                       "areaThree areaThree areaThree areaThree sideBar"
                       "messageFour messageFour messageFour messageFour sideBar"
                       "areaFour areaFour areaFour areaFour sideBar"
                       "messageFive messageFive messageFive messageFive sideBar"
                       "areaFive areaFive areaFive areaFive sideBar"
                       "footer footer footer footer sideBar"
  }

  .welcomeMessage {
    font-family: 'Roboto', sans-serif;  
    padding: 15px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #252830;
    color: white;
    grid-area: welcomeMessage;
  }

  .mainChart {
    text-align: center;
    color: gainsboro;
    background-color: #1B1E24;
    grid-area: mainChart;
    width: 55vw;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #485061;
    padding: 25px;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }
  }

  .mainInfo {
    position: relative;
    top: 50px;
    left: 35px;
    grid-area: mainInfo;
    text-align: center;
    overflow: scroll;
    color: gainsboro;
    background-color: #1B1E24;
    width: 15vw;
    height: 375px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #485061;
    padding: 25px;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }

    .coinListTable {
      margin: 0 auto;
      padding-top: 10px;

      .tableItem {
        padding: 5px;
      }

    }

  }

  .message {
    margin-left: 50px;
    padding: 5px;
    padding-top: 10px;
  }

  .messageOne {
    grid-area: messageOne;
    color: white;
    background-color: #252830;
  }

  .areaOne {
    grid-area: areaOne;
    color: gainsboro;
    background-color: #1B1E24;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    width: 60vw;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #485061;
    padding: 25px;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }
  }

  .messageTwo {
    grid-area: messageTwo;
    color: white;
    background-color: #252830;
  }

  .areaTwo {
    grid-area: areaTwo;
    text-align: center;
    color: gainsboro;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
    background-color: #1B1E24;
    width: 60vw;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #485061;
    padding: 25px;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }
  }

  .messageThree {
    color: white;
    grid-area: messageThree;
    overflow: scroll;
  }

  .areaThree {
    color: white;
    grid-area: areaThree;
    padding: 25px;
    overflow: scroll;
    width: 60vw;
    background-color: #1B1E24;
    margin: 0 auto;
    border: 1px solid #485061;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }

    .highLowTable {
      width: 100%;
      margin: 0 auto;
      border-collapse: collapse;
      .highLowTitles {
        color: #9BAFD4;

      }

      tr {
        height: 100px;
      }

      .rowNames {
        border-bottom: 1px solid #485061;
      }

      .rowHighs {
        color: limegreen;
      }

      .rowOpens {
        color: dodgerblue;
      }

      .rowLows {
        color: #FF3535;
      }

    }
  }

  .messageFour {
    color: white;
    grid-area: messageFour;
    overflow: scroll;

  }

  .areaFour {
    color: white;
    grid-area: areaFour;
    overflow: scroll;
    width: 60vw;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #485061;
    background-color: #1B1E24;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }
  }

  .messageFive {
    color: white;
    grid-area: messageFive;
    overflow: scroll;

  }

  .areaFive {
    border-radius: 5px;
    width: 62.5vw;
    color: gainsboro;
    background-color: #1B1E24;
    grid-area: areaFive;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px !important;
    margin: 0 auto;
    overflow: scroll;
    border: 1px solid #485061;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid dodgerblue;
      box-shadow: 0px 0px 15px dodgerblue;
      transform: scale(1.025);
    }
    img {
      border-radius: 50px;
      position: relative;
      top: 5px;
      right: 5px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    p {
      margin: 0px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .redditVotes {
      color: orange;
    }
    .redditThread {
      padding-top: 15px;
      padding-bottom: 15px;
      transition: all .3s ease-in-out;
    }
    .redditThread:hover {
      background-color: #3B404B;
      transform: scale(1.03);
    }
  }

  .footer {
    grid-area: footer;
    background-color: #1B1E24;  
    border-top: 1px solid #485061;
    color: #677086;
    text-align: center;
  }

  .infoTitle {

    width: 160px;
    margin: 0 auto;
  }

  

  .infoTotal {
   margin-top: 25px !important;
   border: 1px solid #485061;
   border-radius: 5px;
   width: 50%;
   padding: 5px;
   margin: 0 auto;
  }

  .divider {
    color: #677086;
  }

  .sideBar {
    overflow-y: scroll;
    text-align: center;
    color: gainsboro;
    background-color: #1B1E24;
    grid-area: sideBar;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100vh;
    border-left: 1px solid #677086;
    transition: all .3s ease-in-out;
    &:hover {
      border-left: 1px solid dodgerblue;
    }
  }


.navBar {
  border-bottom: 1px solid #677086;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #1B1E24;
  color: #8E9AB8;
  grid-area: navBar;
  transition: all .2s ease-in-out;
  &:hover {
    border-bottom: 1px solid dodgerblue;
  }
  .barItem {
    margin-right: 15px;
    display: inline-block;
  }
  .barItem i {
    transition: all .2s ease-in-out;
  }
  .barItem i:hover {
    transform: scale(1.2);
    color: dodgerblue;
    cursor: pointer;
    cursor: hand;
  }
  .barItem a {
    color: inherit;
    text-decoration: none;
  }
}


.ticker {
  font-size: 20px;
  padding-top: 10px !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 1px;
  border-bottom: 1px solid #677086;
  transition: all .2s ease-in-out;

  &:hover {
    border-bottom: 1px solid dodgerblue;
  }

  .tickerValues {

    padding: 5px;
    padding-left: 10px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .tickerUp {
    width: 12px;
    height: 12px;
    background-color: limegreen;
    position: relative;
    top: 26px;
    left: 10px;
    border-radius: 100px;
  }
  .tickerDown {
    width: 12px;
    height: 12px;
    background-color: #FF3535;
    position: relative;
    top: 26px;
    left: 10px;
    border-radius: 100px;
  }
}

.pings {
  border-top: 1px solid 252830;
  width: 80%;
  margin: 0 auto;
  font-size: 75%;
}

.addNew {
  font-size: 20px;
  position: relative;
  top: 3px;
  left: -10px;
  color: 252830;
}

.addNew:hover {
  color: gainsboro;
}

.newNotif {
  background: transparent;
  border: none !important;
}

.newNotif:focus {
  outline: 0;
}



.setNotif {
  width: 400px;
  height: 200px;
  margin: 0 auto !important;
  text-align: left;
  padding: 25px;
  
  select {
    appearance: none;
    border-radius: 0;
  }

  
  input {
    width: 50px;
    background-color: #252830;
    border: 0;
    border-bottom: 2px solid white;
    color: white;  
  }
  
  input:focus {
    outline: 0;
  }
  button {
    margin: 15px;
    margin: 0 auto;
  }
}

.activeAlerts p {
  display: inline-block;
  margin-right: 25px;
}

.setBalance {
  width: 300px;
  margin: 0 auto;

  .newButton {
    position: relative;
    left: 250px;
    bottom: 24px;
  }
}

.activeCoins p {
  display: inline-block;
  margin-right: 25px;
}

.activeCoinListItem {
  border-bottom: 1px solid black;
}

.accountInfo {
  width: 180px;
  margin: 0 auto;

  input {
    margin-bottom: 10px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.tickerText {
  font-size: 12px;
  position: relative;
  color: #8A98B4;  
  bottom: 1px;
  right: 5px;
}

@keyframes ticker {
  0% {
    transform: translateY(100%);
  }
  5%,
  25% {
    transform: translateY(0%);
  }
  30%,
  100% {
    transform: translateY(-100%);
  }
}
.news {
  width: 150px;
  height: 25px;
  overflow: hidden;
  top: 15px;
  margin: 0 auto;
  position: relative;
}
.news ul {
  width: 250px;
  padding-left: 20px;
}
.news li {
  color: #A9B8DA;
  position: absolute;
  top: 0px;
  line-height: 29px;
  list-style: none;
  font-size: 16px;
  animation: ticker 16s infinite ease-in-out;
}

.news li:nth-child(4) {
  animation-delay: -4s;
}
.news li:nth-child(3) {
  animation-delay: -8s;
}
.news li:nth-child(2) {
  animation-delay: -12s;
}







