html {
  background-color: #252830;  
}

body {
  font-family: 'Roboto', sans-serif;
}

.material-icons {
  font-size: 30px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 250px;
  grid-template-rows: 60px 100px 600px 500px 700px 300px;
  grid-template-areas: "navBar navBar navBar navBar sideBar"
                       "welcomeMessage welcomeMessage welcomeMessage welcomeMessage sideBar"
                       "mainInfo mainChart mainChart mainChart sideBar"
                       "leftChart leftChart leftChart leftChartMessage sideBar"
                       "rightChartMessage rightChart rightChart rightChart sideBar"
                       "bottomChart bottomChart bottomChart bottomChart sideBar";
  
  .welcomeMessage {
    padding: 15px;
    padding-left: 150px;
    padding-bottom: 50px;
    background-color: #252830;
    color: white;    
    grid-area: welcomeMessage;
    font-family: 'Poiret One', cursive;
  }

  .mainChart {
    text-align: center;
    color: gainsboro;
    background-color: #252830;
    grid-area: mainChart;
  }

  .mainInfo {
    grid-area: mainInfo;
    text-align: center;
    color: gainsboro;
    background-color: #252830;
  }

  .leftChart {
    text-align: center;
    color: gainsboro;
    background-color: #252830;
    grid-area: leftChart;
    padding-left: 40px;    
    padding-right: 40px;    
    padding-bottom: 100px;
  }

  .leftChartMessage {
    grid-area: leftChartMessage;
    font-family: 'Poiret One', cursive;
    padding-top: 200px;
    text-align: center;
    color: white;
    background-color: #252830;
    
  }

  .rightChartMessage {
    grid-area: rightChartMessage;
    font-family: 'Poiret One', cursive;
    padding-top: 200px;
    text-align: center;
    color: white;
    background-color: #252830;
  }

  .rightChart {
    text-align: center;
    color: gainsboro;
    background-color: #252830;
    grid-area: rightChart;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;    
  }

  .bottomChart {
    color: gainsboro;
    background-color: #252830;
    grid-area: bottomChart;
    margin-left: 50px;
    margin-right: 50px;
    overflow: scroll;    
    border-top: 1px solid #677086;    
    a {
      color: white;
      text-decoration: none;
    }
    p {
      margin: 0px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .reddit {
      
      
      border-bottom: 1px solid #677086;
    }
    .redditVotes {
      color: limegreen;
    }
    .divider {
      color: #677086;
    }
    .redditThread {
      padding-top: 15px;
      padding-bottom: 15px;
      transition: all .3s ease-in-out;
    }
    .redditThread:hover {
      background-color: #3B404B;
      transform: scale(1.03);
    }
  }

  .sideBar {
    overflow-y: scroll;
    text-align: center;
    color: gainsboro;
    background-color: #252830;
    grid-area: sideBar;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100vh;
    border-left: 1px solid #677086;
  }
}

.navBar {
  border-bottom: 1px solid #677086;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #252830;
  color: #8E9AB8;
  grid-area: navBar;
  .barItem {
    margin-right: 15px;
    display: inline-block;
  }
  .barItem i {
    transition: all .2s ease-in-out;    
  }
  .barItem i:hover {
    transform: scale(1.2);
    color: #C2D4FA;
    cursor: pointer;
    cursor: hand;
  }
  .barItem a {
    color: inherit;
    text-decoration: none;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    grid-template-columns: 1fr 250px;
    grid-template-rows: 60px 150px 600px 400px 400px 400px 300px;
    grid-template-areas: "navBar sideBar"
                         "welcomeMessage sideBar"
                         "mainInfo sideBar"
                         "mainChart sideBar"
                         "leftChart sideBar"
                         "rightChart sideBar"
                         "bottomChart sideBar";
  }
}

.ticker {
  font-size: 20px;
  padding-top: 10px !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 1px;  
  padding-bottom: 15px;
  border-bottom: 1px solid #677086;

  .ticker:hover {
   
  }

  .tickerValues {
    
    padding: 5px;
    padding-left: 10px;
  }

  .tickerPercent {

  }

  .tickerPrice {
    position: relative;
    top: 14px;
    color: #A9B8DA;
    font-size: 16px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .tickerUp {
    width: 12px;
    height: 12px;
    background-color: limegreen;
    position: relative;
    top: 17px;
    left: 10px;
    border-radius: 100px;    
  }
  .tickerDown {
    width: 12px;
    height: 12px;
    background-color: hotpink;
    position: relative;
    top: 17px;
    left: 10px;
    border-radius: 100px;
  }
}

.pings {
  border-top: 1px solid 252830;
  width: 80%;
  margin: 0 auto;
  font-size: 75%;
}

.addNew {
  font-size: 20px;
  position: relative;
  top: 3px;
  left: -10px;
  color: 252830;
}

.addNew:hover {
  color: gainsboro;
}

.newNotif {
  background: transparent;
  border: none !important;
}

.newNotif:focus {
  outline: 0;
}

.setNotif {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  text-align: left;
  padding: 25px;

  input {
    width: 50px;
  }

  button {
    margin: 15px;
    margin: 0 auto;
  }
}

.activeAlerts p {
  display: inline-block;
  margin-right: 25px;
}

.setBalance {
  width: 300px;
  margin: 0 auto;

  .newButton {
    position: relative;
    left: 250px;
    bottom: 24px;
  }
}

.activeCoins p {
  display: inline-block;
  margin-right: 25px;  
}

.activeCoinListItem {
  border-bottom: 1px solid black;
}

.accountInfo {
  width: 180px;
  margin: 0 auto;
  
  input {
    margin-bottom: 10px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

