body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 250px;
  grid-template-rows: 600px 300px 300px;
  grid-template-areas: "mainChart mainChart mainChart sideBar"
                       "leftChart rightChart rightChart sideBar"
                       "bottomChart bottomChart bottomChart sideBar";
  .mainChart {
    text-align: center;
    color: white;
    background-color: grey;
    grid-area: mainChart;
  }

  .leftChart {
    text-align: center;
    color: white;
    background-color: #454545;
    grid-area: leftChart;
  }

  .rightChart {
    text-align: center;
    color: white;
    background-color: #373737;
    grid-area: rightChart;
  }

  .bottomChart {
    text-align: center;
    color: white;
    background-color: #080808;
    grid-area: bottomChart;
  }

  .sideBar {
    overflow-y: scroll;
    text-align: center;
    color: white;
    background-color: #2EB7FF;
    grid-area: sideBar;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100vh;
  }
}

@media (max-width: 1380px) {
  .wrapper {
    grid-template-columns: 1fr 250px;
    grid-template-rows: 600px 400px 400px 400px;
    grid-template-areas: "mainChart sideBar"
                         "leftChart sideBar"
                         "rightChart sideBar"
                         "bottomChart sideBar";
  }
}

.ticker {
  font-size: 20px;
  border: 1px solid white;
  margin: 15px;
  margin-bottom: 18px;

  .tickerHeader {
    margin-top: 15px;
    margin-bottom: 12px;
  }
}


.pings {
  border-top: 1px solid white;
  width: 80%;
  margin: 0 auto;
  font-size: 75%;
}

.addNew {
  font-size: 20px;
  position: relative;
  top: 3px;
  left: -10px;
  color: white;
}

.addNew:hover {
  color: black;
}

.newNotif {
  background: transparent;
  border: none !important;
}

.newNotif:focus {
  outline: 0;
}

.notifForm {
  width: 250px;
  height: 180px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;
}